/* CSS PX TO VW 750 */
@use '../style/vw' as *;

.pi-play-header {
  background-color: transparent;
  width: 100%;

  @at-root &_fixed {
    position: fixed;
    z-index: 20;
    top: -1Px;
    left: 0;
  }

  &_bd {
    height: 88px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &_placeholder {
    height: 10Px; /* ignore */

    @at-root .pi-play-header-android & {
      height: 30Px; /* ignore */
    }
    @at-root .pi-play-header-iphoneX & {
      height: 44Px; /* ignore */
    }
    @at-root .pi-play-header-iphone & {
      height: 20Px; /* ignore */
    }
  }

  &_left {
    flex-shrink: 0;
    height: 100%;
  }

  &_right {
    position: fixed;
    right: 0;
    top: 20px;
    height: 88px;
    margin-left: auto;
    flex-shrink: 0;
    @at-root .full-head-android & {
      top: 30Px; /* ignore */
    }
    @at-root .full-head-iphoneX & {
      top: 44Px; /* ignore */
    }
    @at-root .full-head-iphone & {
      top: 20Px; /* ignore */
    }
  }

  &_back {
    position: relative;
    z-index: 4;
    width: 88px;
    height: 100%;
    background: {
      size: 36px 36px;
      repeat: no-repeat;
      position: 20px center;
    };
  }

  &_center {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    justify-content: center;
    font-size: 34px;
  }
}
